body {
    background-color: #1C2326;
}

/*Header style & layout*/

header{
position: sticky;
top: 0;
background-color: #ffffff;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}

.header-logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-logo img {
    max-width: 185px;
    max-height: auto;
    padding: 10px 0px;
}

.nav-sites{
    flex: 4; 
    display: flex;
    justify-content: space-evenly;
}

.nav-sites a {
    padding: 0 10px;
    text-decoration: none;     
    font-family: "Inter", sans-serif;
    font-size: 28px; 
    color: #1C2326;
}

.nav-icons {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.nav-icons a img {
    max-width: 50px;
    max-height: 50px;
    padding: 10px;
}

.search-bar {
    display: flex;
    justify-content: end;
    border: 2px solid black;
    width: inherit;
}

.search-bar a img {
    max-width: 44px;
    max-height: 44px;
    padding: 0px 10px;
}

.cta-button {
    border: 390px 50px;
    border-style: solid;
    border-radius: 10px;
    size: absolute;
    background-color: #F0C546;
    font-family: "Bebas Neue", sans-serif;
    font-size: 45px;
}

.cta-button a {
    text-decoration: none;
    color: black;
}

/*Homepage content specifics*/

.hero-section {
    background-image: url(../images/quinn-aebi-XZ46vmjgFJA-unsplash.jpg);
    background-size: cover;
}    

.homepage-content {
    border: 1636px 460px;
    margin-top: 142px;
    margin-left, right: 107px;
    padding: 50px;
    background-image: url(../images/mounir-abdi-y43wWZCvjs0-unsplash.jpg);
    background-size: fill;
    background-position-x: center;
    background-position-y: center;
    text-align: center;
}

h1 {
    font-family: "Spectral";
    font-style: italic;
    font-size: 96px;
    background-color: #303030c0;
    color: #FFFFFF;
}

h3 {
    font-family: "Inter";
    font-size: 15px;
    text-decoration: underline;
}

/*Footer style & layout*/
 
footer {
    background-color: #ffffff;
    position: relative;
}

footer a {
    font-family: "Inter";
    text-decoration: none;
    color: #000000;
}

.footer-content {
    display: flex;
}

.help-element {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-element {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}